*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient( 90deg, red,yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    min-height: 300px;
    max-height: 900px;
    width: 400px;
    background-color: rgb(209, 197, 197);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
   
}
.task-input{
    padding: 20px;
    display: flex;
   
    
}

.task-input>button{
    background-color: rgb(151, 151, 177);
    width: 90px;
    border-radius: 10px;
    position: relative;
    right:0;
}
#task{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    outline: none;
    font-size: 20px;
}
ul li{
    background-color: white;
   
  
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
    list-style: none;
    box-sizing: border-box;
    height: 38px;
    
}
li{
    padding: 10px;
}
span{
    padding-left: 10px;
}
.delete{
    display: flex;
    justify-content: end;
    align-items: end;
   margin-top: -21px;
}
.trash:hover{
   box-shadow: 4px 3px 10px rgb(168, 163, 163);
}

.checked{
    text-decoration: line-through;
}

